<div class="row marketing">
  <div id="textField" class="col-lg-6">
    <h1>{{ title }}</h1>
    <textarea rows="10" cols="50" v-model="msg" v-on:keyup="textFieldChangeEvent" type="text" name="" value= focus></textarea>
  </div>
  <div id="mydiv">
    <div id="mydivheader">Click here to move</div>
    <p>Move</p>
    <p>this</p>
    <p>DIV</p>
  </div>
</div>
